BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Stroustrup
AlwaysBreakBeforeMultilineStrings: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
IndentCaseLabels: false
AlignEscapedNewlinesLeft: false
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: Align
SpaceAfterCStyleCast: false
MaxEmptyLinesToKeep: 2
BreakBeforeBinaryOperators: NonAssignment
SortIncludes:    false
ContinuationIndentWidth: 8
NamespaceIndentation: None
AccessModifierOffset: -4
ColumnLimit: 120
