main
horizon-imp
horizon-pool
horizon-pool-update
horizon-pool-update-parametric
horizon-prj
horizon-prj-mgr
horizon-pgm-test
horizon-pool-mgr
horizon-rest-test
horizon-gen-pkg
rest-test.cpp
*.o
*.d
*~
.gdb_history
resources.cpp
gitversion.cpp
.cproject
.settings
.project
example/pool/*.db
\#*.ui\#
*.exe
*.zip
dist
*.trace
*.res
docs
*/__pycache__
