main
horizon-imp
horizon-pool
horizon-pool-update
horizon-pool-update-parametric
horizon-prj
horizon-prj-mgr
horizon-pgm-test
horizon-pool-mgr
horizon-rest-test
horizon-gen-pkg
horizon-eda
flatc
rest-test.cpp
*.o
*.oshared
*.d
*~
*.so
.gdb_history
resources.cpp
gitversion.cpp
src/version_gen.cpp
.cproject
.settings
.project
example/pool/*.db
\#*.ui\#
*.exe
*.zip
dist
*.trace
*.res
docs
*/__pycache__
__pycache__
src/preferences/color_presets.json
src/imp/layer_help.json
build
.vscode
wix/*.msi
wix/*.wixobj
wix/*.wixpdb
wix/files.wxs
wix/version.wxi
