[Desktop Entry]
Name=Horizon EDA
Comment=Free EDA package
Categories=Development;Engineering;Electronics;
Type=Application
Terminal=false
Icon=org.horizon_eda.HorizonEDA
Exec=horizon-eda %U
