#include <windows.h>

2 ICON "src/icons/horizon-eda.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  0,0,0,0
FILEFLAGS       VS_FF_PRIVATEBUILD
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "FileDescription", "Horizon EDA"
      VALUE "InternalName", "horizon-eda"
      VALUE "OriginalFilename", "horizon-eda.exe"
      VALUE "ProductName", "Horizon EDA"
      VALUE "ProductVersion", "1.2.3.4"
      VALUE "PrivateBuild", "special"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END